<!DOCTYPE HTML>

<html>
  <head>
    <title>Tailor Made Answers admin dashboard</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <script src="/js/admin.js" type="text/javascript"></script>   
    <script src="/js/bootstrap.js" type="text/javascript"></script>   

  </head>
  <body>



    <div id="page-for-editing">




      <div id="header">	
	<div class="inner">
	  <div class="logo_container">
	    <a title="TailorMadeAnswers" href="/admin"><img title="TailorMadeAnswers" alt="TailorMadeAnswers" src="/img/logo.png"></a> <a href="/admin/user-search">User search</a>
	  </div>
	</div>
      </div>






      <nav>

	<div id="tma-bottom-links-list" class="tma-programmer-designer-contract">
	  <h5>Lists of different data in the database:</h5>
	  <ul id="list-items">
	    <li><a href="/admin/"></a></li> 
	  </ul>
	</div>
	
	<div id="tma-bottom-links-edit" class="tma-programmer-designer-contract">
	  <h5>Create a new record of one of these types:</h5>
	  <ul id="add-new">
	    <li><a href="/admin/"></a></li>
	  </ul>
	</div>

      </nav>
      
      



      <div id="content" class="main-display">

	<h1>Listing items: <span id="tma-span-to-show-item-type" class="tma-programmer-designer-contract"></span></h1>
	
	<h3 id="flash-messages"></h3>



	<div id="tma-paginate-items" class="tma-programmer-designer-contract">
	  <p class="tma-paginated-list"><a href="/"></a></p>
	</div>

      </div>
      





      <div id="tma-show-count-of-pages-to-paginate" class="tma-programmer-designer-contract main-display">
	<h5>Other pages listing this type of item:</h5>
	<a class="link-for-pagination" href=""></a>
      </div>









    </div>
  </body>
</html>
