<!DOCTYPE HTML>

<html>
  <head>
    <title>Tailor Made Answers admin dashboard</title>
    <link rel="stylesheet" href="/css/planner.css" media="all" type="text/css" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <script src="/js/admin.js" type="text/javascript"></script>   
    <script src="/js/bootstrap.js" type="text/javascript"></script>   

  </head>
  <body>



    <div id="page-for-editing">




      <div id="header">	
	<div class="inner">
	  <div class="logo_container">
	    <a title="TailorMadeAnswers" href="/admin"><img title="TailorMadeAnswers" alt="TailorMadeAnswers" src="/img/logo.png"></a>  <a href="/admin/user-search">User search</a>
	  </div>
	</div>
      </div>

      

      <nav>

	<div id="tma-link-to-edit-page" class="tma-programmer-designer-contract">
	  <h5>See related documents for this page:</h5>
	  <a href="">Edit this document</a>
	</div>

	<div id="tma-bottom-links-list" class="tma-programmer-designer-contract">
	  <h5>Lists of different data in the database:</h5>
	  <ul id="list-items">
	    <li><a href="/admin/"></a></li> 
	  </ul>
	</div>
	
	<div id="tma-bottom-links-edit" class="tma-programmer-designer-contract">
	  <h5>Create a new record of one of these types:</h5>
	  <ul id="add-new">
	    <li><a href="/admin/"></a></li>
	  </ul>
	</div>

      </nav>




      <div id="tma-show-all-possible-fields-for-this-item" class="tma-programmer-designer-contract main-display">
	
	<div class="all-possible-fields">
	  <h3>Subject</h3> 
	  <p></p>
	</div>
	
      </div>
      


      <div id="tma-link-to-this-item-if-it-is-a-file" class="tma-programmer-designer-contract main-display">
	<a href="/processed/"></a>
      </div>




      <div id="tma-parent-item-links" class="tma-programmer-designer-contract main-display">
	<h5>Parent item that this item belongs to:</h5>
	<p class="tma-paginated-list"><a href="/"></a></p>
      </div>

      <div id="tma-children-item-links" class="tma-programmer-designer-contract main-display">
	<h5>Items that belong to this item:</h5>
	<p class="tma-paginated-list"><a href="/"></a></p>
      </div>

      <div id="tma-links-to-old-versions" class="tma-programmer-designer-contract main-display">
	<h5>Old versions of the above item:</h5>
	<p class="tma-paginated-list"><a href="/"></a></p>
      </div>





    </div>
  </body>
</html>
